{% load bootstrap5 %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <title>Main Page</title>
</head>
<body>
<h1>All Todos</h1>
<a href="{% url 'create_todo' %}">Create</a>
{% for data in dataset %}
    <ul>
        <li>Title: {{ data.title }}</li>
        <li>Body: {{ data.body }}</li>
        <li>Created at: {{ data.created_at }}</li>
        <a href="{% url 'delete_todo' id=data.id %}">Delete</a>
        <a href="{% url 'update_todo' id=data.id %}">Update</a>
        <a href="{% url 'detail_todo' id=data.id %}">Detail</a>
    </ul>
{% endfor %}
</body>
</html>